* {
  margin: 0;
  box-sizing: border-box; }

.noListStyle {
  list-style: none;
  padding: 0px; }

.full-width {
  width: 100%; }

h1, h2, h3, h4 {
  font-family: 'MONTSERRAT', Helvetica, Arial, sans-serif;
  font-weight: 400; }

h1 {
  font-size: 42px;
  text-transform: uppercase; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

p {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400; }

.underline, .underline-left, .underline-center {
  display: inline-block;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  margin-bottom: 1em; }

.underline-left {
  padding-right: 20px;
  text-align: left; }

.underline-center {
  text-align: center; }

.primaryNav, .devNav, .desNav {
  z-index: 5000;
  width: 100%;
  position: fixed; }
  .primaryNav ul, .devNav ul, .desNav ul {
    margin-bottom: 0px; }
    .primaryNav ul li, .devNav ul li, .desNav ul li {
      display: inline-block; }
      .primaryNav ul li a, .devNav ul li a, .desNav ul li a {
        display: block;
        padding: 12px;
        padding-top: 15px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase; }
        .primaryNav ul li a:hover, .devNav ul li a:hover, .desNav ul li a:hover {
          border-bottom: 3px solid; }

.devNav {
  background: #000a19; }
  .devNav ul li a {
    color: #eeeeee;
    border-bottom: 3px solid #000a19; }
    .devNav ul li a:hover {
      transition: all .4s;
      background: rgba(238, 238, 238, 0.1); }
    .devNav ul li a.selected {
      border-bottom: 3px solid #eeeeee; }

.desNav {
  background: #eeeeee; }
  .desNav ul li a {
    color: black;
    border-bottom: 3px solid #eeeeee; }
    .desNav ul li a:hover {
      transition: all .4s;
      color: #d2503c;
      border-bottom: 3px solid #d2503c;
      background: rgba(210, 80, 60, 0.2); }
    .desNav ul li a.selected {
      color: #d2503c;
      border-bottom: 3px solid #d2503c; }

.sideNav {
  position: fixed;
  right: 0;
  padding: 5px;
  top: 25vh;
  background: #eeeeee;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 5000; }
  .sideNav .contactTile {
    padding: 2px;
    margin: 0 auto;
    text-align: center; }
    .sideNav .contactTile i {
      color: #001e2d; }
    .sideNav .contactTile a:hover i {
      color: #d2503c; }

footer {
  -webkit-transform: translate(100vh);
  transform: translateY(100vh); }
  footer a {
    text-transform: uppercase;
    color: white; }

.devFooter {
  background: #0a0a1e;
  color: #c8c8c8; }
  .devFooter a {
    text-decoration: none; }
    .devFooter a:hover {
      border-bottom: 1px dotted; }

.desFooter {
  background: #d2503c;
  color: black;
  text-transform: uppercase; }
  .desFooter a {
    text-decoration: none;
    color: white; }
    .desFooter a:hover {
      border-bottom: 1px dotted; }

.skills-wrapper ul li {
  display: inline-block; }

.skills {
  max-width: 100px; }

.featureImg {
  display: block;
  width: 100%;
  background: white;
  max-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  .featureImg img {
    width: 100%; }

.grid-sizer, .grid-item {
  width: 33.33333%; }

.grid-item {
  background: white;
  float: left;
  height: 200px; }

.portfolio-thumb {
  background: white;
  max-height: 250px;
  position: relative;
  cursor: pointer;
  height: 100%;
  display: inline-block;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .portfolio-thumb {
      max-height: 350px; } }
  @media screen and (min-width: 1400px) {
    .portfolio-thumb {
      max-height: 300px; } }
  .portfolio-thumb img {
    transform-origin: center center;
    transform: scale(1.3);
    transition: transform 10s;
    width: 100%; }
  .portfolio-thumb:hover img {
    transform: scale(2); }
  .portfolio-thumb:hover .slice-container {
    transform: scale(1);
    transition: 0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, 0.6s height cubic-bezier(0.77, 0, 0.175, 1) 0s; }
    .portfolio-thumb:hover .slice-container p {
      opacity: 1.0;
      transition: opacity .4s 1s; }

.angleShard, .angleShardL, .angleShardR {
  width: 100%;
  position: absolute;
  background: inherit;
  z-index: -100;
  height: 300px; }

.angleShardL {
  left: -250px;
  transform: rotate(8deg); }

.angleShardR {
  top: -45px;
  right: -25px;
  transform: rotate(-5deg); }

.circlePic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -75px;
  position: absolute; }

.excerpt {
  padding: 60px;
  text-align: center; }

.closeArticle {
  display: inline-block;
  cursor: pointer; }
  .closeArticle:hover {
    color: #d2503c; }

.shard-container {
  transform: scale(0.5);
  width: 200px;
  height: 200px;
  display: block;
  transform-origin: center center;
  position: relative;
  margin: 0 auto;
  background: linen;
  transition: 0.4s transform cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s, 0.6s height cubic-bezier(0.77, 0, 0.175, 1) 0s; }

.shard-container:hover {
  transform: scale(1);
  transition: 0.4s transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, 0.6s height cubic-bezier(0.77, 0, 0.175, 1) 0s; }

.shard {
  -webkit-backface-visibility: hidden;
  left: 50%;
  top: 25%;
  border-top: 2.25em solid transparent;
  border-bottom: 2em solid transparent;
  border-left: 3.75em solid #282828;
  border-right: none;
  position: absolute;
  transform-origin: left bottom;
  z-index: 100;
  border-radius: 3px 3px 0 0; }

.slice-container {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0.5);
  width: 200px;
  height: 200px;
  transform-origin: center center;
  margin: 0 auto;
  transition: 0.4s transform cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s, 0.6s height cubic-bezier(0.77, 0, 0.175, 1) 0s; }
  .slice-container p {
    display: table-cell;
    opacity: 0;
    vertical-align: middle;
    z-index: 2000;
    text-align: center;
    transition: opacity .4s 1s;
    padding-top: 35px;
    color: white; }

.slice {
  -webkit-backface-visibility: hidden;
  left: 50%;
  top: 25%;
  border-top: 2.25em solid transparent;
  border-bottom: 2em solid transparent;
  border-left: 3.75em solid #002837;
  border-right: none;
  position: absolute;
  transform-origin: left bottom;
  z-index: -100;
  border-radius: 3px 3px 0 0; }

.githublink {
  display: table;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  right: -175px;
  background: #eeeeee;
  transition: right .5s; }
  .githublink * {
    display: table-cell;
    vertical-align: middle; }
  .githublink a {
    padding: 5px 8px;
    color: black;
    display: block;
    text-decoration: none; }
    .githublink a p {
      padding-left: 10px; }
  .githublink:hover {
    transition: right .5s, background .5s .4s;
    right: 0px;
    background: #d2503c; }
    .githublink:hover a {
      color: white;
      transition: color .5s .4s; }

.slice:nth-child(1) {
  transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; }

.portfolio-thumb:hover .slice:nth-child(1) {
  border-left: 3.69em solid #002d3c;
  transform: rotateZ(60deg) rotateY(0deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s; }

.slice:nth-child(2) {
  transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s; }

.portfolio-thumb:hover .slice:nth-child(2) {
  border-left: 3.69em solid #003241;
  transform: rotateZ(120deg) rotateY(0deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s; }

.slice:nth-child(3) {
  transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s; }

.portfolio-thumb:hover .slice:nth-child(3) {
  border-left: 3.69em solid #003746;
  transform: rotateZ(180deg) rotateY(0deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s; }

.slice:nth-child(4) {
  transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s; }

.portfolio-thumb:hover .slice:nth-child(4) {
  border-left: 3.69em solid #003c4b;
  transform: rotateZ(240deg) rotateY(0deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s; }

.slice:nth-child(5) {
  transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s; }

.portfolio-thumb:hover .slice:nth-child(5) {
  border-left: 3.69em solid #004150;
  transform: rotateZ(300deg) rotateY(0deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s; }

.slice:nth-child(6) {
  transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s; }

.portfolio-thumb:hover .slice:nth-child(6) {
  border-left: 3.69em solid #004655;
  transform: rotateZ(360deg) rotateY(0deg) rotateX(0deg);
  transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s; }

.noScroll {
  overflow: hidden; }

.hidden {
  display: none !important; }

.container {
  max-width: 980px; }

section {
  min-height: 100vh;
  position: relative; }

#beginning {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 200px;
  z-index: 0; }
  #beginning .excerpt {
    position: absolute;
    bottom: 50px;
    right: 0px;
    max-width: 960px;
    margin: 0 auto;
    left: 0px;
    width: 100%;
    color: #c8c8c8; }

#introduction {
  display: block;
  background: #001e2d;
  color: #c8c8c8;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh); }
  #introduction p {
    font-size: 18px; }

.portfolio {
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  min-height: 0px;
  background: #002837;
  color: #c8c8c8; }
  .portfolio .content {
    padding-top: 10vh; }

#desPortfolio {
  background: #eeeeee;
  color: black; }

.design {
  background: #eeeeee;
  transition: all .4s; }
  .design #introduction {
    background: #d2503c;
    color: black; }
    .design #introduction a {
      color: #c8c8c8; }

.development {
  background: #000a19;
  transition: all .4s; }

.content {
  padding-top: 20vh;
  padding-bottom: 150px;
  display: block; }

.devProject {
  margin-bottom: 80px; }

#contactMe {
  background: #000a19;
  color: #eeeeee;
  min-height: 0; }

.fauxrallax {
  transform: translateY(100vh); }

.contactList li {
  display: inline-block;
  padding: 10px; }
  .contactList li a:hover i {
    color: #d2503c; }

@media screen and (max-width: 640px) {
  h1 {
    font-size: 40px; }

  .px4 {
    padding-left: 2rem;
    padding-right: 2rem; }

  #beginning {
    padding: 0px;
    padding-top: 45px;
    min-height: 0;
    position: relative; }
    #beginning svg {
      display: none !important; }
    #beginning .excerpt {
      position: relative;
      margin: 0 auto;
      padding: 4em; }
      #beginning .excerpt h2 {
        font-size: 38px; }
      #beginning .excerpt p {
        font-size: 15px; }

  .portfolio {
    overflow-x: hidden; }

  #introduction, .portfolio, footer {
    -webkit-transform: none;
    transform: none; }
    #introduction .content, .portfolio .content, footer .content {
      padding-top: 0vh; }

  .content {
    padding-top: 10vh; }

  .circlePic {
    background: white;
    margin: 0 auto;
    width: 100%;
    position: relative;
    border-radius: 0; }

  .sideNav {
    display: table;
    top: auto;
    bottom: 0;
    width: 100%; }
    .sideNav .contactTile {
      display: table-cell; }

  #contactMe {
    -webkit-transform: none;
    transform: none; } }
.portfolio-item {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5000;
  overflow: scroll;
  background: #001e2d;
  color: white; }
  .portfolio-item .content {
    padding-top: 10vh; }
  .portfolio-item h1 {
    margin-top: 0px; }
  .portfolio-item .featureImg {
    position: relative; }
  .portfolio-item .closeArticle {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #002837; }
    .portfolio-item .closeArticle:hover {
      color: #d2503c; }

.svgWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.svgComponents {
  position: absolute;
  display: block;
  transform: translate(100%, 100%) scale(0.5); }

svg {
  z-index: 100;
  cursor: pointer; }

#ramSkin .leftHorn polygon {
  transition: all 1s;
  transform: translate(0px); }
#ramSkin .rightHorn polygon {
  transition: all 1s;
  transform: translate(0px); }

/*# sourceMappingURL=styles.css.map */
