
body{
	overflow-x:hidden;
}

.hidden{
	display:none !important;
}
.container{
	max-width:980px;
	// padding:25px;
}
section{
	// padding:200px;
	min-height:100vh;

	position:relative;
}
#beginning{
	position:fixed;
	top:0;
	width:100%;
	padding: 200px;
	z-index:0;
	.excerpt{
		position:absolute;
		bottom:50px;
		right:0px;
		max-width:960px;
		margin: 0 auto;
		left:0px;
		width: 100%;

		color: $lightGrey100;
	}
}
#introduction{
	// display:table;
	display:block;
	background: $darkTeal100;

	color: $lightGrey100;
	p{
		font-size:18px;
	}
	-webkit-transform: translateY(100vh);
	transform: translateY(100vh);
}
.portfolio{
	-webkit-transform: translateY(100vh);
	transform: translateY(100vh);
	background: $medTeal100;
	color: $lightGrey100;
}
#desPortfolio{
	background: $offWhite100;
	color: $black100;
}
.design{
	background: $offWhite100;
	transition: all .4s;
	#introduction{
		background: $mainRed100;
		color: $black100;
		a{
			color: $lightGrey100;
		}
	}
}
.development{
	background: $darkBlue100;
	transition: all .4s;
}

.content{
	padding-top:20vh;
	padding-bottom:150px;
	display: block;
	// display:table-cell;
	// vertical-align:middle;
}

.beginning{
	// padding:0px;
}
.devProject{
	margin-bottom:80px;
}

@media screen and (max-width:640px){
	h1{
		font-size:40px;
	}
	.px4{
		padding-left: 2rem;
		padding-right: 2rem;
	}
	#beginning{
		padding:0px;
		padding-top:45px;
		min-height:0;
		position:relative;
		svg{
			display:none !important;
		}
		.excerpt{
			h2{
				font-size:38px;
			}
			p{
				font-size:15px;
			}
			position:relative;
			margin:0 auto;
			padding:4em;
		}
	}
	#introduction, .portfolio, footer{
		transform:none;
		.content{
			padding-top:0vh;
		}
	}
	.content{
		padding-top:10vh;
	}
	.circlePic{
		background: $white100;
		margin:0 auto;
		width:100%;
		position: relative;
		border-radius:0;
	}
	.sideNav{
		display:table;
		top:auto;
		bottom:0;
		width:100%;
		.contactTile{
			display:table-cell;
		}
	}
}



// section:nth-child(even){
// 	background: #eeeeee;
// }
